.mbtilayout {
  width : 100%;
  font-size: 14px;
  display: flex;
  justify-content: center;
  background-color: #eee; 
  height: calc(var(--vh, 1vh)*100);
  padding: 0px;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
}

.startPageLayout {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('image/Group 25 (1).png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: auto;
  color: #413730;
}

.startLogo{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 25px;
  font-weight: 700;
}
.startLogo div:nth-child(1){
  background-color: #413730;
  color:#ffea35;
  width: 100px;
  height:80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;

}
.startmessage {
  font-size: 100px;
  font-weight: bold;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  /* 화면 너비가 768px 이하일 때 적용되는 스타일 */
  .startmessage {
    font-size: 60px;
  }
  
}

@media (max-width: 480px) {
  /* 화면 너비가 480px 이하일 때 적용되는 스타일 */
  .startmessage {
    font-size: 40px;
  }
}
.startButton {
  position: fixed;
  left: 50%;
  bottom: 30px; /* 원하는 여백 값으로 조정 */
  transform: translateX(-50%);
  width: 350px;
  height: 100px;
  background: #FFE786;
  box-shadow: inset -9px -9px 10px 3px rgba(0, 0, 0, 0.25);
  border-radius: 180px;
  border-color: #FFE786;
  font-size: x-large;
  margin-top: 25px;
  z-index: 1;
}
@media (max-width: 768px) {
  /* 화면 너비가 768px 이하일 때 적용되는 스타일 */
  .startButton {
    width: 250px;
    height: 80px;
    font-size: large;
  }
}

@media (max-width: 480px) {
  /* 화면 너비가 480px 이하일 때 적용되는 스타일 */
  .startButton {
    width: 200px;
    height: 60px;
    font-size: medium;
  }
}
.창캐미1 {
  size:30px;
}


.questionLayout{
  display: flex;
  flex-direction: column;
  background-color: #969696;
  width: 100%;

  height:100vh;
  overflow:hidden;
  
  
}
.mbtiTitle{
  display: flex;
  flex-direction: row;
  width:100%;
  align-items: center;
  padding:15px;
  box-sizing: border-box;
  font-weight:700;
}
.mbtiTitle div:nth-child(1){
  display: flex;
  flex:1;
}

.questionList{
  flex-direction: column;
  height: 100vh;
  overflow: scroll;
  scrollbar-width:none;

}
.questionList::-webkit-scrollbar{
  display: none;
}

.questionItemlayout {
  display: flex;
  flex:1;
  height:100%;
  margin: 10px 15px 100px 15px;
}
.questionAnswerLayout {
  display: flex;
  flex-direction: column;
}

.answerItemLayout {
justify-content: flex-end;
  width: 100%;
  background-color: #fff;
padding: 5px;
display:flex;
  flex-direction: column;
  opacity: 0.8;
  

 
  
}
.nextButton {
      align-items: center;
    border: 1px solid #ededed;
    border-radius: 10px;
    box-shadow: 2px 2px 0 #ededed;
    box-sizing: border-box;
    display: flex;
    height: 100px;
    justify-content: center;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
}

.profileImg {
  display: flex;
  flex-direction: column;
  width: 40px;
  height: 40px;
  background-color: #a1b6e9;
  border-radius: 15px;
  margin-right: 5px;
  align-items: center;
  justify-content: center;
}

.profileImg div:nth-child(1) {
  background-color: #cbd6f2;
  width: 8px;
  height: 8px;
  border-radius: 4px;

}
.profileImg div:nth-child(2) {
  background-color: #cbd6f2;
  width: 16px;
  height: 8px;
  border-radius: 8px 8px 0px 0px;
  margin-top: 2px;
}
.chatListLayout{
  display: flex;
  flex-direction: column;
}

.chatBox{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 60vw;
  max-width: 60vw;
  margin: 3px 0px 12px 0px;

}

.chatBox div:nth-child(1){
  color: #fff;
  font-size: 12px;
  margin-top: 8px;
}
.chatBox div:nth-child(2){
  background-color: #fff;
  padding: 7px 10px 7px 10px;
  margin-left: -4px;
  border-radius: 10px;
  text-align: left;
}
.aChatBox{
  display: flex;
  width: 100%;
  color:#969696;
  font-size: 22px;
  border-radius: 1px solid #eee;
  margin-bottom: 25px;
}
.aChatBox div:nth-child(1){
  display: flex;
  flex:1;
  padding: 10px;
  box-sizing: border-box;
}
.aChatBox div:nth-child(2){
  padding: 10px;
}
.answerBox {
    align-items: center;
    border: 1px solid #ededed;
    border-radius: 10px;
    box-shadow: 2px 2px 0 #ededed;
    box-sizing: border-box;
    display: flex;
    height: 100px;
    justify-content: center;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
}
/* test */